// reset
:root {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: block;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

// ScrollBar
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  background: @color-primary;
  border: 0.5px solid @gray;
}

// laptop & desktop small & desktop medium
@media @laptop, @desktop-s, @desktop-m, @desktop-b {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 55px auto 35px;

    &__header {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    &__panel {
      grid-column: 1 / 2;
      grid-row: 2;
    }

    &__main {
      grid-column: 2 / 10;
      grid-row: 2;
    }

    &__details {
      grid-column: 10 / -1;
      grid-row: 2;
    }

    &__footer {
      grid-column: 1 / -1;
      grid-row: 3;
    }
  }
}
