section.home
  .home__bg
    img(src="./images/wave-intro.svg", alt="bg emcody")
  .home__info
    h1 Desarrollo Web con EMCODY
    p ¡Hola! Si te estás iniciando en el mundo del desarrollo web, este estu sitio para aprender HTML5, CSS3, JavaScript, Frameworks, y más