section.home
  .home__bg
    img(src=`${baseDeployUrlImg}./images/wave-intro.svg`, alt="bg emcody")
  .home__content
    .info
      h1 Desarrollo Web con EMCODY
      p ¡Hola! Si te estás iniciando en el mundo del desarrollo web, este estu sitio para aprender HTML5, CSS3, JavaScript, Frameworks, y más
    .banner
      img(src="./images/banner-home.svg", alt="emcody")