footer.footer.gridContainer__footer
  .footer__info
    div.social
      h2 Social Media
      ul
        li 
          a(href="" target="_blank") Discord
        li 
          a(href="" target="_blank") YouTube
        li 
          a(href="" target="_blank") GitHub
  span  © Copyright EMCODY 2022