footer.footer.gridContainer__footer
  .footer__info
    div.social
      h2 Social Media
      ul
        li 
          a(href="https://discord.gg/CrKTjZSe" target="_blank") Discord
        li 
          a(href="https://www.youtube.com/channel/UCKmXlegNzxRIhWz1vP1YuZw" target="_blank") YouTube
        li 
          a(href="https://github.com/EstivenMayhuay" target="_blank") GitHub
  span  © Copyright EMCODY 2022