- // "http://127.0.0.1:5500/docs/images";
- let baseDeployUrlImg = "http://estivenmayhuay.github.com/docs/images";

header.header.gridContainer__header
  img(src=`${baseDeployUrlImg}/logo-emcody.svg`, alt="emcody logo" class="header__icon")
  h1.header__title EMCODY