head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="Este es el Blog de EMCODY, en el cual aprenderas sobre desarrollo web")
  meta(name="keywords", content="HTML, CSS, JavaScript, Node.js, React.js y mas")
  meta(name="author", content="Estiven Mayhuay")
  link(rel="shortcut icon", href="https://estivenmayhuay.github.io/emcody/images/favicon.png", type="image/png")
  // google fonts
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
  // boxicons
  link(href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet')
  // highlight block code
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/atom-one-dark.min.css")
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  <script> hljs.highlightAll(); </script>
  // title page
  block titlePage
  // own stylesheet
  block ownStyle