head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="Este es el Blog de EMCODY, en el cual aprenderas sobre desarrollo web")
  meta(name="keywords", content="HTML, CSS, JavaScript, Node.js, React.js y mas")
  meta(name="author", content="Estiven Mayhuay")
  link(rel="stylesheet", href="./css/index.css")
  title EMCODY Blog