- 
  const navHTML5 = [
    {
      summary: 'HTML5 Basico',
      list: [
        {
          title: 'Intro',
          link: 'http://127.0.0.1:5500/docs/post/html5/index.html'
        },
        {
          title: 'Breve Historia',
          link: 'http://127.0.0.1:5500/docs/post/html5/breve-historia/index.html'
        }
      ]
    },
    {
      summary: 'Tags HTML',
      list: [
        {
          title: 'Encabezados',
          link: '#'
        }
      ]
    },
  ];

aside.panel#panelInfo
  nav.panelMenu
    each item in navHTML5
      details.panelMenu__indice
        summary= item.summary
        each list in item.list
          ul
            li
              a(href=`${list.link}`)= list.title
