aside.panel#panelInfo
  nav.panelMenu
    details.panelMenu__indice
      summary HTML Basico
      ul
        li
          a(href=`${baseUrlMenu}/post/html5/breve-historia/index.html`) Breve Historia
        li
          a(href="") ¿Ques HTML?
        li
          a(href="") ¿Ques HTML5?
        li
          a(href="") Estructura Basica
    details.panelMenu__indice
      summary Tags en HTML
      ul
        li
          a(href="") Encabezados
        li
          a(href="") Parrafos
        li
          a(href="") Enlaces
