/* Footer */
.footer {
  width: 100%;
  height: @hFooter;
  background: @color-primary;
  .mixin-display-flex(column, wrap, center, center, 0, 0);

  span {
    display: block;
    .mixin-fonts(@white, @font-roboto, 600, @body-2);
    text-align: center;
  }
}