/* header */
.header {
  .mixin-display-flex(row, nowrap, center, initial, 0, 1em);
  padding: 1em;
  width: 100%;
  height: @hHeaderMobile;
  background: @color-primary;

  &__title {
    .mixin-fonts(@white, @font-firaCode, 700, @headline-6);
  }
}

// laptops
@media @laptop, @desktop {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}

// desktop
@media @desktop {
  .header {
    height: @hHeaderMobile + 20px;
  }
}
