.headSideBar {
  .mixin-display-flex(row, wrap, center, initial, 0, 0);
  padding: 4px 8px;
  border-bottom: 2px solid @gray;
  border-bottom: 2px solid @gray;
  background: @white-grayish;
}

@media @laptop {
  .headSideBar {
    display: none;
  }
}
