/* header */
.header {
  .mixin-display-flex(row, nowrap, center, initial, 0, 1em);
  padding: 1em;
  width: 100%;
  height: @hHeaderMobile;
  background: @color-primary;

  &__icon {
    width: 32px;
    height: 32px;

    img {
      .mixin-coverImage();
    }
  }

  &__title {
    .mixin-fonts(@white, @font-firaCode, 700, @headline-6);
  }
}

// laptops
@media @laptop {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

// desktop small & medium & big
@media @desktop-s, @desktop-m, @desktop-b {
  .header {
    padding: 0 32px;
    &__title {
      font-size: @headline-6;
    }
  }
}
