/* Main */
.main {
  .mixin-display-flex(column, wrap, initial, initial, 48px, 0);
  max-width: 100%;
  height: 100%;

  // Section Banner
  .home {
    position: relative;
    width: 100%;

    &__bg {
      height: @hBannerMobile;

      img {
        .mixin-coverImage();
      }
    }

    &__content {
      position: absolute;
      top: 24px;
      bottom: 0;
      .mixin-display-flex(row, nowrap, initial, initial, 0, 0);
      margin: auto;
      width: 100%;
      height: auto;

      // banner
      .banner {
        display: none;
      }

      // info
      .info {
        .mixin-display-flex(column, wrap, initial, initial, 16px, 0);

        h1,
        p {
          text-align: center;
        }

        h1 {
          .mixin-fonts (@white, @font-firaCode, 700, @headline-4);
        }

        p {
          .mixin-fonts (@white-grayish, @font-roboto, 500, @headline-6);
          width: 90%;
          margin: 0 auto;
          line-height: 1.6em;
          padding: 0 0.5em;
        }
      }
    }
  }

  // Section What You Find
  .whatYouFind {
    // outline: 2px solid blue;

    &__title {
      text-align: center;
      .mixin-fonts(@black-grayish, @font-firaCode, 600, @headline-5);
    }

    &__contentCards {
      .mixin-display-flex(column, wrap, center, initial, 24px, 0);
      padding: 24px 0;

      .card {
        flex: 1;
        width: @wCardWhatFind;
        .mixin-display-flex(column, wrap, center, initial, 8px, 0);
        .mixin-shadow-elements(4px, 8px, 10px, 0px, rgba(64, 64, 64, 0.5));
        background: @color-primary;
        border-radius: 10px;
        padding: 1em;

        &__title {
          .mixin-fonts(@white-grayish, @font-firaCode, 700, @headline-6);
        }

        &__descp {
          line-height: 1.6em;
          .mixin-fonts(@white-grayish, @font-roboto, 500, @subtitle-1);
          text-align: center;
        }
      }
    }
  }

  // Section Our Projects
  .ourProjects {
    &__title {
      text-align: center;
      .mixin-fonts(@black-grayish, @font-firaCode, 600, @headline-5);
    }

    #projects {
      .mixin-display-flex(column, wrap, center, none, 24px, 0);
      padding: 24px;

      .cardProject {
        width: @wCardProjects;
        .mixin-display-flex(column, wrap, center, flex-start, 24px, 0);
        padding: 16px;
        background: @white-grayish;
        border-radius: 10px;

        h4 {
          .mixin-fonts(@black-grayish, @font-firaCode, 700, @body-2);
          text-align: center;
        }

        p {
          .mixin-fonts(@black-grayish, @font-roboto, 500, @subtitle-1);
          text-align: center;
        }

        &__topics {
          list-style: none;
          .mixin-display-flex(row, nowrap, initial, center, 0, 16px);

          li {
            background: @color-primary;
            border-radius: 8px;
            padding: 0.5em 1em;
            .mixin-fonts(@white, @font-roboto, 500, @body-2);
          }
        }
      }
    }
  }

  // Section Colaborators
  .colaborators {
    // outline: 2px solid blue;
    margin-bottom: 96px;

    &__title {
      text-align: center;
      .mixin-fonts(@black-grayish, @font-firaCode, 600, @headline-5);
      margin-bottom: 24px;
    }

    &__card {
      .mixin-display-flex(column, wrap, center, initial, 8px, 0);
      width: @wCardWhatFind;
      padding: 1em;
      background: @white-grayish;
      margin: 0 auto;
      border-radius: 10px;

      .iconPerson {
        width: @wIconPerson;
        height: @wIconPerson;
        border-radius: 50%;
        overflow: hidden;
        .mixin-shadow-elements(2px, 4px, 8px, 0px, rgba(64, 64, 64, 0.25));

        img {
          .mixin-coverImage();
        }
      }

      h4 {
        .mixin-fonts(@color-primary, @font-firaCode, 700, @headline-5);
      }

      span {
        .mixin-fonts(@black-grayish, @font-roboto, 600, @headline-6);
      }
    }
  }

  // Intro
  [class*="intro-"] {
    @gapRow: 16px;

    margin-bottom: @gapRow * 1.5;
    padding: 1em;

    h1 {
      .mixin-fonts(@color-primary, @font-firaCode, 600, @headline-4);
      text-align: center;
      margin-bottom: @gapRow;
    }

    h2 {
      position: relative;
      .mixin-fonts(@color-primary, @font-firaCode, 600, @headline-5);
      margin-bottom: @gapRow;
      text-decoration: underline @color-primary;
    }

    iframe {
      margin-bottom: @gapRow;
    }

    pre {
      display: block;
      width: 290px;
      margin: 0 auto @gapRow auto;
      overflow-x: scroll;
    }

    p.image {
      overflow: hidden;
      width: 80%;
      height: auto;
      margin: 0 auto @gapRow auto;

      img {
        .mixin-coverImage();
      }
    }

    p {
      .mixin-fonts(@black-grayish, @font-roboto, 400, @body-1);
      line-height: 1.6rem;
      margin-bottom: @gapRow;

      strong {
        color: @color-primary;
      }
    }

    ul {
      .mixin-display-flex(column, wrap, initial, flex-start,0.85em,0);
      list-style: disc;
      padding: 0 0 0 2em;
      margin-bottom: @gapRow;

      li {
        .mixin-fonts(@black-grayish, @font-roboto, 400, @body-2);
        line-height: 1.6rem;

        strong:nth-child(1) {
          color: @color-primary;
        }
      }
    }
  }
}

// Tablet
@media @tablet {
  .main {
    // Section Home
    .home {
      &__content {
        .info {
          p {
            width: 80%;
          }
        }
      }
    }

    // Intro
    pre {
      min-width: calc(100% - 32px);
    }
  }
}

// Laptop
@media @laptop {
  .main {
    row-gap: 64px;

    // Section Home
    .home {
      &__bg {
        height: @hBannerDesktop;
      }

      &__content {
        top: 16px;
        bottom: unset;
        column-gap: 48px;
        align-items: center;
        // info
        .info {
          flex: 50%;
          max-width: 50%;
          padding: 0 0 0 24px;

          h1 {
            font-size: @headline-3;
          }
        }
        // banner
        .banner {
          flex: 50%;
          max-width: 50%;
          display: block;

          img {
            .mixin-coverImage();
          }
        }
      }
    }

    // Section What You Find
    .whatYouFind {
      &__title {
        font-size: @headline-4;
      }

      &__contentCards {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        padding: 48px 32px;

        .card {
          max-width: 240px;
        }
      }
    }

    // Section Our Projects
    .ourProjects {
      &__title {
        font-size: @headline-4;
      }

      #projects {
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        row-gap: 48px;
        column-gap: 32px;
        padding: 48px 32px;
        margin: 0 auto;

        .cardProject {
          flex: 100% / 3 - 64px;
          min-width: 100% / 3 - 64px;
        }
      }
    }

    // Section Colaborators
    .colaborators {
      &__title {
        font-size: @headline-4;
        margin: 0 0 48px 0;
      }
    }
  }
}

// Desktop
@media @desktop {
  .main {
    // Home
    .home {
      &__bg {
        height: @hBannerDesktop + 170px;
      }

      &__content {
        width: 80%;
        margin: auto;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        .banner {
          max-width: 695px;
          height: 436px;
          overflow: hidden;

          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
