.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: @wSideBar;
  min-height: 100%;
  padding: 48px 16px;
  background: @white-grayish;
  transform: translate(-100%, 0);
  transition: transform 0.5s ease;
  overflow-y: scroll;
  z-index: 96;

  .panelMenu {
    .mixin-display-flex(column, wrap, 0, 0, 16px, 0);

    &__indice {
      summary {
        .mixin-fonts(@black-grayish, @font-firaCode, 600, @subtitle-1);
      }

      ul {
        .mixin-display-flex(column, wrap, 0, 0, 8px, 0);
        list-style: none;
        padding: 0.5em;

        li > a {
          .mixin-fonts(@black-grayish, @font-roboto, 400, @body-2);
        }
      }
    }
  }
}

// laptop
@media @laptop {
  .panel {
    position: relative;
    top: unset;
    left: unset;
    height: auto;
    transform: none;
    z-index: 95;

    .panelMenu {
      &__indice {
        cursor: pointer;
      }
    }
  }
}

// desktop small & desktop medium & desktop big
@media @desktop-s, @desktop-m, @desktop-b {
  .panel {
    position: relative;
    top: unset;
    left: unset;
    height: auto;
    transform: none;
    z-index: 95;
  }
}
