// show the deailts
.whatSeeInThisCourse {
  display: none;
}

// laptop, desktop small & desktop medium & desktop big
@media @laptop, @desktop-s, @desktop-m, @desktop-b {
  .whatSeeInThisCourse {
    position: relative;
    display: block;
    padding: 48px 16px;

    &__title {
      position: sticky;
      top: 16px;
      .mixin-fonts(@color-primary, @font-firaCode, 600, @headline-6);
      margin-bottom: 16px;
    }

    .contentList {
      position: sticky;
      top: 55px;
      display: flex;
      flex-flow: column;
      row-gap: 8px;
      list-style: none;
      padding: 8px;
      border-left: 2px solid @color-primary;
    }
  }
}
