// colors
@black-grayish: #404040;
@color-primary: #88139b;
@white: #ffffff;
@white-grayish: #eeeeee;
@gray: #dddddd;

// size components
@hHeaderMobile: 55px;
@hBannerMobile: 320px;
@hBannerDesktop: 530px;
@wCardWhatFind: 260px;
@wCardProjects: 280px;
@wIconPerson: 96px;
@wbtnUpMenu: 32px;
@hFooter: 35px;
@wSideBar: 220px;

// font family
@font-firaCode: "Fira Code", monospace;
@font-roboto: "Roboto", sans-serif;

// fonts
@headline-1: 83px;
@headline-2: 52px;
@headline-3: 42px;
@headline-4: 30px;
@headline-5: 21px;
@headline-6: 17px;
@subtitle-1: 14px;
@subtitle-2: 12px;
@body-1: 16px;
@body-2: 14px;
@button: 14px;
@caption: 12px;
@overline: 10px;

// queries
@tablet: ~"only screen and (min-width: 500px)";
@laptop: ~"only screen and (min-width: 900px)";
@desktop: ~"only screen and (min-width: 1200px)";
