// colors
@black-grayish: #404040;
@color-primary: #88139B;
@white: #ffffff;
@white-grayish: #eeeeee;

// size components
@hHeaderMobile: 55px;

// font family
@font-firaCode: 'Fira Code', monospace;
@font-roboto: 'Roboto', sans-serif;

// fonts
@headline-1: 83px;
@headline-2: 52px;
@headline-3: 42px;
@headline-4: 30px;
@headline-5: 21px;
@headline-6: 17px;
@subtitle-1: 14px;
@subtitle-2: 12px;
@body-1: 16px;
@body-2: 14px;
@button: 14px;
@caption: 12px;
@overline: 10px;