.mixin-coverImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mixin-buttons-events {
  cursor: pointer;
}
.mixin-buttons-events:active {
  transform: scale(0.85);
  transition: transform 0.4s ease;
}
.hideElement {
  display: none;
}
:root {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  display: block;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
@media only screen and (min-width: 960px) and (max-width: 1400px), only screen and (min-width: 1401px) and (max-width: 1560px), only screen and (min-width: 1561px) and (max-width: 1880px), only screen and (min-width: 1881px) and (max-width: 1930px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 55px auto 35px;
  }
  .gridContainer__header {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  .gridContainer__panel {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .gridContainer__main {
    grid-column: 2 / 10;
    grid-row: 2;
  }
  .gridContainer__details {
    grid-column: 10 / -1;
    grid-row: 2;
  }
  .gridContainer__footer {
    grid-column: 1 / -1;
    grid-row: 3;
  }
}
/* header */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: initial;
  row-gap: 0;
  column-gap: 1em;
  padding: 1em;
  width: 100%;
  height: 55px;
  background: #88139b;
}
.header__icon {
  width: 32px;
  height: 32px;
}
.header__icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__title {
  color: #ffffff;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  font-size: 17px;
}
@media only screen and (min-width: 960px) and (max-width: 1400px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1560px), only screen and (min-width: 1561px) and (max-width: 1880px), only screen and (min-width: 1881px) and (max-width: 1930px) {
  .header {
    padding: 0 32px;
  }
  .header__title {
    font-size: 17px;
  }
}
.contentMenu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  column-gap: 0;
  width: 100%;
  height: 0;
  background: #88139b;
  overflow: hidden;
  transition: height 0.4s ease;
}
.contentMenu .menu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  column-gap: 0;
  list-style: none;
}
.contentMenu .menu__item {
  display: block;
  text-align: center;
}
.contentMenu .menu__link {
  text-decoration: none;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.activeContentMenu {
  border-top: 0.25px solid #dddddd;
  border-bottom: 0.25px solid #dddddd;
  animation: fade 0.4s ease;
  transition: animation 0.4s ease;
}
@keyframes fade {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1400px) {
  .contentMenu {
    position: absolute;
    top: 18px;
    right: 32px;
    width: auto;
    height: auto;
    z-index: 98px;
  }
  .contentMenu .menu {
    flex-flow: row nowrap;
    column-gap: 1em;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1560px), only screen and (min-width: 1561px) and (max-width: 1880px), only screen and (min-width: 1881px) and (max-width: 1930px) {
  .contentMenu {
    position: absolute;
    top: 15px;
    right: 32px;
    width: auto;
    height: auto;
    z-index: 98px;
  }
  .contentMenu .menu {
    flex-flow: row nowrap;
    column-gap: 1em;
  }
  .contentMenu .menu__link {
    font-size: 17px;
  }
}
.headSideBar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: initial;
  row-gap: 0;
  column-gap: 0;
  padding: 4px 8px;
  border-bottom: 2px solid #dddddd;
  background: #eeeeee;
}
@media only screen and (min-width: 960px) and (max-width: 1400px), only screen and (min-width: 1401px) and (max-width: 1560px), only screen and (min-width: 1561px) and (max-width: 1880px) {
  .headSideBar {
    display: none;
  }
}
.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  min-height: 100%;
  padding: 48px 16px;
  background: #eeeeee;
  transform: translate(-100%, 0);
  transition: transform 0.5s ease;
  overflow-y: scroll;
  z-index: 96;
}
.panel .panelMenu {
  display: flex;
  flex-flow: column wrap;
  align-items: 0;
  justify-content: 0;
  row-gap: 16px;
  column-gap: 0;
}
.panel .panelMenu__indice {
  outline: 2px solid blue;
}
.panel .panelMenu__indice h6 {
  color: #404040;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  font-size: 14px;
}
.panel .panelMenu__indice ul {
  display: flex;
  flex-flow: column wrap;
  align-items: 0;
  justify-content: 0;
  row-gap: 8px;
  column-gap: 0;
  list-style: none;
  padding: 0.5em;
}
.panel .panelMenu__indice ul li > a {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media only screen and (min-width: 960px) and (max-width: 1400px) {
  .panel {
    position: relative;
    top: unset;
    left: unset;
    height: auto;
    transform: none;
    z-index: 95;
  }
  .panel .panelMenu__indice {
    cursor: pointer;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1560px), only screen and (min-width: 1561px) and (max-width: 1880px), only screen and (min-width: 1881px) and (max-width: 1930px) {
  .panel {
    position: relative;
    top: unset;
    left: unset;
    height: auto;
    transform: none;
    z-index: 95;
  }
}
.whatSeeInThisCourse {
  display: none;
}
@media only screen and (min-width: 960px) and (max-width: 1400px), only screen and (min-width: 1401px) and (max-width: 1560px), only screen and (min-width: 1561px) and (max-width: 1880px), only screen and (min-width: 1881px) and (max-width: 1930px) {
  .whatSeeInThisCourse {
    position: relative;
    display: block;
    padding: 48px 16px;
  }
  .whatSeeInThisCourse__title {
    position: sticky;
    top: 18px;
    color: #88139b;
    font-family: "Fira Code", monospace;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 16px;
  }
  .whatSeeInThisCourse .contentList {
    position: sticky;
    top: 55px;
    display: flex;
    flex-flow: column;
    row-gap: 8px;
    list-style: none;
    padding: 8px;
    border-left: 2px solid #88139b;
  }
}
/* Main */
.main {
  display: flex;
  flex-flow: column wrap;
  align-items: initial;
  justify-content: initial;
  row-gap: 48px;
  column-gap: 0;
  max-width: 100%;
  height: 100%;
}
.main .home {
  position: relative;
  width: 100%;
}
.main .home__bg {
  height: 320px;
}
.main .home__bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .home__content {
  position: absolute;
  top: 24px;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: initial;
  justify-content: initial;
  row-gap: 0;
  column-gap: 0;
  margin: auto;
  width: 100%;
  height: auto;
}
.main .home__content .banner {
  display: none;
}
.main .home__content .info {
  display: flex;
  flex-flow: column wrap;
  align-items: initial;
  justify-content: initial;
  row-gap: 16px;
  column-gap: 0;
}
.main .home__content .info h1,
.main .home__content .info p {
  text-align: center;
}
.main .home__content .info h1 {
  color: #ffffff;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  font-size: 30px;
}
.main .home__content .info p {
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  width: 90%;
  margin: 0 auto;
  line-height: 1.6em;
  padding: 0 0.5em;
}
.main .whatYouFind__title {
  text-align: center;
  color: #404040;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  font-size: 21px;
}
.main .whatYouFind__contentCards {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: initial;
  row-gap: 24px;
  column-gap: 0;
  padding: 24px 0;
}
.main .whatYouFind__contentCards .card {
  flex: 1;
  width: 260px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: initial;
  row-gap: 8px;
  column-gap: 0;
  box-shadow: 4px 8px 10px 0px rgba(64, 64, 64, 0.5);
  background: #88139b;
  border-radius: 10px;
  padding: 1em;
}
.main .whatYouFind__contentCards .card__title {
  color: #eeeeee;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  font-size: 17px;
}
.main .whatYouFind__contentCards .card__descp {
  line-height: 1.6em;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.main .ourProjects__title {
  text-align: center;
  color: #404040;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  font-size: 21px;
}
.main .ourProjects #projects {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: none;
  row-gap: 24px;
  column-gap: 0;
  padding: 24px;
}
.main .ourProjects #projects .cardProject {
  width: 280px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 24px;
  column-gap: 0;
  padding: 16px;
  background: #eeeeee;
  border-radius: 10px;
}
.main .ourProjects #projects .cardProject h4 {
  color: #404040;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
.main .ourProjects #projects .cardProject p {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.main .ourProjects #projects .cardProject__topics {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: initial;
  justify-content: center;
  row-gap: 0;
  column-gap: 16px;
}
.main .ourProjects #projects .cardProject__topics li {
  background: #88139b;
  border-radius: 8px;
  padding: 0.5em 1em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.main .colaborators {
  margin-bottom: 96px;
}
.main .colaborators__title {
  text-align: center;
  color: #404040;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 24px;
}
.main .colaborators__card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: initial;
  row-gap: 8px;
  column-gap: 0;
  width: 260px;
  padding: 1em;
  background: #eeeeee;
  margin: 0 auto;
  border-radius: 10px;
}
.main .colaborators__card .iconPerson {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 4px 8px 0px rgba(64, 64, 64, 0.25);
}
.main .colaborators__card .iconPerson img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .colaborators__card h4 {
  color: #88139b;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  font-size: 21px;
}
.main .colaborators__card span {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.main [class*="intro-"] {
  margin-bottom: 24px;
  padding: 1em;
}
.main [class*="intro-"] h1 {
  color: #88139b;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 16px;
}
.main [class*="intro-"] h2 {
  position: relative;
  color: #88139b;
  font-family: "Fira Code", monospace;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 16px;
  text-decoration: underline #88139b;
}
.main [class*="intro-"] iframe {
  margin-bottom: 16px;
}
.main [class*="intro-"] pre {
  display: block;
  width: 290px;
  margin: 0 auto 16px auto;
}
.main [class*="intro-"] p.image {
  overflow: hidden;
  width: 80%;
  height: auto;
  margin: 0 auto 16px auto;
}
.main [class*="intro-"] p.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main [class*="intro-"] p {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6rem;
  margin-bottom: 16px;
}
.main [class*="intro-"] p strong {
  color: #88139b;
}
.main [class*="intro-"] ul {
  display: flex;
  flex-flow: column wrap;
  align-items: initial;
  justify-content: flex-start;
  row-gap: 0.85em;
  column-gap: 0;
  list-style: disc;
  padding: 0 0 0 2em;
  margin-bottom: 16px;
}
.main [class*="intro-"] ul li {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6rem;
}
.main [class*="intro-"] ul li strong:nth-child(1) {
  color: #88139b;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .main .home__content .info p {
    width: 80%;
  }
  .main pre {
    min-width: calc(100% - 32px);
  }
}
@media only screen and (min-width: 960px) and (max-width: 1400px) {
  .main {
    row-gap: 64px;
  }
  .main .home__bg {
    height: 670px;
  }
  .main .home__content {
    top: 16px;
    bottom: unset;
    column-gap: 48px;
    align-items: center;
  }
  .main .home__content .info {
    flex: 50%;
    max-width: 50%;
    padding: 0 0 0 24px;
  }
  .main .home__content .info h1 {
    font-size: 42px;
  }
  .main .home__content .banner {
    flex: 50%;
    max-width: 50%;
    display: block;
  }
  .main .home__content .banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main .whatYouFind__title {
    font-size: 30px;
  }
  .main .whatYouFind__contentCards {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding: 48px 32px;
  }
  .main .whatYouFind__contentCards .card {
    max-width: 240px;
  }
  .main .ourProjects__title {
    font-size: 30px;
  }
  .main .ourProjects #projects {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    row-gap: 48px;
    column-gap: 32px;
    padding: 48px 32px;
    margin: 0 auto;
  }
  .main .ourProjects #projects .cardProject {
    flex: 100% / 3 - 64px;
    min-width: 100% / 3 - 64px;
  }
  .main .colaborators__title {
    font-size: 30px;
    margin: 0 0 48px 0;
  }
  .main [class*="intro-"] {
    padding: 24px;
  }
  .main [class*="intro-"] pre {
    width: 70%;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1560px), only screen and (min-width: 1561px) and (max-width: 1880px), only screen and (min-width: 1881px) and (max-width: 1930px) {
  .main {
    row-gap: 64px;
  }
  .main .home__bg {
    height: 740px;
  }
  .main .home__content .info {
    flex: 50%;
    height: 450px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    column-gap: 0;
  }
  .main .home__content .info h1 {
    font-size: 42px;
    padding: 0 24px;
  }
  .main .home__content .info p {
    font-size: 17px;
    padding: 0 24px;
  }
  .main .home__content .banner {
    flex: 50%;
    display: block;
    width: 645px;
    height: 450px;
  }
  .main .home__content .banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main .whatYouFind {
    width: 80%;
    margin: 0 auto;
  }
  .main .whatYouFind__title {
    font-size: 30px;
  }
  .main .whatYouFind__contentCards {
    flex-flow: row wrap;
    align-items: flex-start;
    column-gap: 32px;
    padding: 48px 0;
  }
  .main .whatYouFind__contentCards .card img {
    width: 48px;
    height: 48px;
  }
  .main .whatYouFind__contentCards .card__title {
    font-size: 21px;
  }
  .main .whatYouFind__contentCards .card__descp {
    font-size: 17px;
  }
  .main .ourProjects {
    width: 90%;
    margin: 0 auto;
  }
  .main .ourProjects__title {
    font-size: 30px;
  }
  .main .ourProjects #projects {
    flex-flow: row wrap;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;
    padding: 48px 0;
  }
  .main .ourProjects #projects .cardProject {
    width: 380px;
  }
  .main .ourProjects #projects .cardProject h4 {
    font-size: 21px;
  }
  .main .ourProjects #projects .cardProject p {
    font-size: 17px;
  }
  .main .colaborators__title {
    font-size: 30px;
    margin-bottom: 48px;
  }
  .main [class*="intro-"] {
    padding: 24px;
  }
  .main [class*="intro-"] pre {
    width: 70%;
  }
}
@media only screen and (min-width: 1561px) and (max-width: 1880px) {
  .main .home__bg {
    height: 790px;
  }
  .main .home__content .info h1 {
    font-size: 52px;
  }
  .main .home__content .info p {
    font-size: 21px;
  }
  .main .home__content .info h1,
  .main .home__content .info p {
    padding: 0 64px;
  }
  .main .home__content .banner {
    width: 645px;
    height: 450px;
  }
  .main .home__content .banner img {
    object-fit: contain;
  }
  .main [class*="intro-"] h1 {
    font-size: 30px;
  }
  .main [class*="intro-"] p,
  .main [class*="intro-"] ul > li {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1881px) and (max-width: 1930px) {
  .main .home__bg {
    height: 890px;
  }
  .main .home__content .info h1 {
    font-size: 83px;
  }
  .main .home__content .info p {
    font-size: 30px;
  }
  .main .home__content .info h1,
  .main .home__content .info p {
    padding: 0 64px;
  }
  .main .home__content .banner {
    width: 750px;
    height: 550px;
  }
  .main .home__content .banner img {
    object-fit: contain;
  }
  .main .whatYouFind,
  .main .ourProjects {
    width: 70%;
  }
}
/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 35px;
  background: #88139b;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 0;
  column-gap: 0;
  z-index: 95;
}
.footer span {
  display: block;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
@media only screen and (min-width: 960px) and (max-width: 1400px) {
  .footer {
    z-index: 96;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1560px) {
  .footer span {
    font-size: 17px;
  }
}
#buttonUp,
#buttonMenu {
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#buttonUp:active,
#buttonMenu:active {
  transform: scale(0.85);
  transition: transform 0.4s ease;
}
#buttonUp {
  position: absolute;
  bottom: 39px;
  z-index: 99;
}
#buttonMenu {
  position: absolute;
  top: 12px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  column-gap: 0;
  background: #88139b;
  border-radius: 50%;
  transform: rotate(0);
  transition: transform 0.4s ease;
  z-index: 97;
}
#buttonMenu__up,
#buttonMenu__center,
#buttonMenu__down {
  background: #ffffff;
  width: 70%;
  height: 3px;
}
.btnRepositorie,
.btnLiveSite {
  flex: 1;
  width: 100%;
  border-radius: 16px;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 0;
  column-gap: 6px;
  cursor: pointer;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.btnRepositorie:active,
.btnLiveSite:active {
  transform: scale(0.85);
  transition: transform 0.4s ease;
}
.btnRepositorie {
  background: #88139b;
}
.btnLiveSite {
  border: 2px solid #88139b;
  color: #88139b;
}
#buttonMenu.activeMenu {
  background: #ffffff;
  outline: 2px solid #88139b;
  transform: rotate(180deg);
  transition: transform 0.4s ease;
}
#buttonMenu.activeMenu #buttonMenu__up {
  display: none;
}
#buttonMenu.activeMenu #buttonMenu__center,
#buttonMenu.activeMenu #buttonMenu__down {
  background: #88139b;
}
#buttonMenu.activeMenu #buttonMenu__center {
  transform: translate(0px, 3px) rotate(50deg);
  transition: transform 0.4s ease;
}
#buttonMenu.activeMenu #buttonMenu__down {
  transform: translate(0px, -4px) rotate(-50deg);
  transition: transform 0.4s ease;
}
.btnClose {
  position: absolute;
  top: 6px;
  right: 4px;
  width: 26px;
  height: 26px;
  transform: rotate(-90deg);
  cursor: pointer;
}
.btnClose i {
  font-size: 26px;
  color: #404040;
}
@media only screen and (min-width: 960px) and (max-width: 1400px), only screen and (min-width: 1401px) and (max-width: 1560px), only screen and (min-width: 1561px) and (max-width: 1880px), only screen and (min-width: 1881px) and (max-width: 1930px) {
  #buttonMenu,
  .btnClose {
    display: none;
  }
  #buttonUp {
    right: 32px;
    bottom: 64px;
  }
}
