.mixin-coverImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mixin-buttons-events {
  cursor: pointer;
}
.mixin-buttons-events:active {
  transform: scale(0.85);
  transition: transform 0.4s ease;
}
.hideElement {
  display: none;
}
:root {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  display: block;
  max-width: 100%;
  min-height: 100vh;
}
/* header */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: initial;
  row-gap: 0;
  column-gap: 1em;
  padding: 1em;
  width: 100%;
  height: 55px;
  background: #88139B;
}
.header__title {
  color: #ffffff;
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 17px;
}
.contentMenu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  column-gap: 0;
  width: 100%;
  height: 0;
  background: #88139B;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 98;
}
.contentMenu .menu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  column-gap: 0;
  list-style: none;
}
.contentMenu .menu__item {
  display: block;
  text-align: center;
}
.contentMenu .menu__link {
  text-decoration: none;
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.activeContentMenu {
  border-top: 0.25px solid #dddddd;
  border-bottom: 0.25px solid #dddddd;
  animation: fade 0.4s ease;
  transition: animation 0.4s ease;
}
@keyframes fade {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.headSideBar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: initial;
  row-gap: 0;
  column-gap: 0;
  padding: 4px 8px;
  border-bottom: 2px solid #dddddd;
  background: #eeeeee;
}
.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  min-height: 100%;
  padding: 24px 16px;
  background: #eeeeee;
  transform: translate(-100%, 0);
  transition: transform 0.5s ease;
  overflow-y: scroll;
  z-index: 96;
}
.panel .panelMenu {
  display: flex;
  flex-flow: column wrap;
  align-items: 0;
  justify-content: 0;
  row-gap: 16px;
  column-gap: 0;
}
.panel .panelMenu__indice summary {
  color: #404040;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  font-size: 14px;
}
.panel .panelMenu__indice ul {
  display: flex;
  flex-flow: column wrap;
  align-items: 0;
  justify-content: 0;
  row-gap: 8px;
  column-gap: 0;
  list-style: none;
  padding: 0.5em;
}
.panel .panelMenu__indice ul li > a {
  color: #404040;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/* Main */
.main {
  display: flex;
  flex-flow: column wrap;
  align-items: initial;
  justify-content: initial;
  row-gap: 48px;
  column-gap: 0;
  max-width: 100%;
  height: 100%;
}
.main .home {
  position: relative;
  width: 100%;
}
.main .home__bg {
  height: 320px;
}
.main .home__bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .home__info {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: initial;
  justify-content: initial;
  row-gap: 1em;
  column-gap: 0;
  width: 80%;
  margin: auto;
}
.main .home__info h1,
.main .home__info p {
  text-align: center;
}
.main .home__info h1 {
  color: #ffffff;
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 30px;
}
.main .home__info p {
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.6em;
}
.main .whatYouFind__title {
  text-align: center;
  color: #404040;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  font-size: 21px;
}
.main .whatYouFind__contentCards {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: initial;
  row-gap: 24px;
  column-gap: 0;
  padding: 24px 0;
}
.main .whatYouFind__contentCards .card {
  flex: 1;
  width: 260px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: initial;
  row-gap: 8px;
  column-gap: 0;
  box-shadow: 4px 8px 10px 0px rgba(64, 64, 64, 0.5);
  background: #88139B;
  border-radius: 10px;
  padding: 1em;
}
.main .whatYouFind__contentCards .card__title {
  color: #eeeeee;
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 17px;
}
.main .whatYouFind__contentCards .card__descp {
  line-height: 1.6em;
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.main .ourProjects__title {
  text-align: center;
  color: #404040;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 24px;
}
.main .ourProjects #projects {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: none;
  row-gap: 24px;
  column-gap: 0;
}
.main .ourProjects #projects .cardProject {
  width: 300px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 24px;
  column-gap: 0;
  padding: 1em;
  background: #eeeeee;
  border-radius: 10px;
}
.main .ourProjects #projects .cardProject h4 {
  color: #404040;
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}
.main .ourProjects #projects .cardProject p {
  color: #404040;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.main .ourProjects #projects .cardProject__topics {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: initial;
  justify-content: center;
  row-gap: 0;
  column-gap: 16px;
}
.main .ourProjects #projects .cardProject__topics li {
  background: #88139B;
  border-radius: 8px;
  padding: 0.5em 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.main .colaborators {
  padding: 24px 0;
  margin-bottom: 48px;
}
.main .colaborators__title {
  text-align: center;
  color: #404040;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 24px;
}
.main .colaborators__card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: initial;
  row-gap: 8px;
  column-gap: 0;
  width: 260px;
  padding: 1em;
  background: #eeeeee;
  margin: 0 auto;
  border-radius: 10px;
}
.main .colaborators__card .iconPerson {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 4px 8px 0px rgba(64, 64, 64, 0.25);
}
.main .colaborators__card .iconPerson img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .colaborators__card h4 {
  color: #88139B;
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 21px;
}
.main .colaborators__card span {
  color: #404040;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.main [class*="intro-"] {
  margin-bottom: 24px;
  padding: 1em;
}
.main [class*="intro-"] h1 {
  color: #88139B;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 16px;
}
.main [class*="intro-"] pre {
  padding: 0 0 0 2em;
  margin: 0 0 16px 0;
}
.main [class*="intro-"] pre code {
  color: #404040;
}
.main [class*="intro-"] .image {
  overflow: hidden;
  width: 80%;
  height: auto;
  margin: 0 auto 16px auto;
}
.main [class*="intro-"] .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main [class*="intro-"] p {
  color: #404040;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6rem;
  margin-bottom: 16px;
}
.main [class*="intro-"] p strong {
  color: #88139B;
}
.main [class*="intro-"] ul {
  display: flex;
  flex-flow: column wrap;
  align-items: initial;
  justify-content: flex-start;
  row-gap: 0.85em;
  column-gap: 0;
  list-style: disc;
  padding: 0 0 0 2em;
  margin-bottom: 16px;
}
.main [class*="intro-"] ul li {
  color: #404040;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6rem;
}
.main [class*="intro-"] ul li strong:nth-child(1) {
  color: #88139B;
}
/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 35px;
  background: #88139B;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 0;
  column-gap: 0;
  z-index: 95;
}
.footer span {
  display: block;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
#buttonUp,
#buttonMenu {
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#buttonUp:active,
#buttonMenu:active {
  transform: scale(0.85);
  transition: transform 0.4s ease;
}
#buttonUp {
  position: absolute;
  bottom: 39px;
  z-index: 99;
}
#buttonMenu {
  position: absolute;
  top: 12px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  column-gap: 0;
  background: #88139B;
  border-radius: 50%;
  transform: rotate(0);
  transition: transform 0.4s ease;
  z-index: 97;
}
#buttonMenu__up,
#buttonMenu__center,
#buttonMenu__down {
  background: #ffffff;
  width: 70%;
  height: 3px;
}
.btnRepositorie,
.btnLiveSite {
  flex: 1;
  width: 100%;
  border-radius: 16px;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 0;
  column-gap: 6px;
  cursor: pointer;
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.btnRepositorie:active,
.btnLiveSite:active {
  transform: scale(0.85);
  transition: transform 0.4s ease;
}
.btnRepositorie {
  background: #88139B;
}
.btnLiveSite {
  border: 2px solid #88139B;
  color: #88139B;
}
#buttonMenu.activeMenu {
  background: #ffffff;
  outline: 2px solid #88139B;
  transform: rotate(180deg);
  transition: transform 0.4s ease;
}
#buttonMenu.activeMenu #buttonMenu__up {
  display: none;
}
#buttonMenu.activeMenu #buttonMenu__center,
#buttonMenu.activeMenu #buttonMenu__down {
  background: #88139B;
}
#buttonMenu.activeMenu #buttonMenu__center {
  transform: translate(0px, 3px) rotate(50deg);
  transition: transform 0.4s ease;
}
#buttonMenu.activeMenu #buttonMenu__down {
  transform: translate(0px, -4px) rotate(-50deg);
  transition: transform 0.4s ease;
}
