doctype html
html(lang="es")
  include ../includes/head.pug
  block titlePage
    title= '¿Qué es HTML5?'
  block ownStyle
    link(rel="stylesheet", href="../../../css/index.css")
  body
    include ../includes/header.pug
    include ../includes/navMenu.pug
    include ../includes/headSideBar.pug
    include ../includes/sideBarHTML5.pug

    main.main
      section.intro-HTML5
        include:markdown-it(html) ../../../src/markdown/post/html5/que-es-html5.md

    //- #buttonUp
    //-   img(src=`${baseDeployUrlImg}/icon-up.svg`, alt="icon up" id="iconUp")
    
    #buttonMenu
      p#buttonMenu__up
      p#buttonMenu__center
      p#buttonMenu__down
    
    include ../includes/footer.pug

    script(src="../../../script/app.js" type="module") 

