doctype html
html(lang="es")
  include ../includes/head.pug
  block titlePage
    title= 'React.js - Desarrollo Web'
  block ownStyle
    link(rel="stylesheet", href="../../css/index.css")
  body
    include ../includes/header.pug
    include ../includes/navMenu.pug
    //- include ../includes/headSideBar.pug
    //- include ../includes/sideBar.pug

    main.main
      section.intro-HTML5
          <p style="text-align:center; color: #8040ea; margin: 1em auto; font-weight: bold; font-size: 1.1em">Nos encontramos trabajando en esta seccion de React.js, pero te avisaremos cuando este lista</p>

    #buttonUp
      img(src=`${baseDeployUrlImg}/icon-up.svg`, alt="icon up" id="iconUp")
    
    #buttonMenu
      p#buttonMenu__up
      p#buttonMenu__center
      p#buttonMenu__down
    
    include ../includes/footer.pug

    script(src="../../script/app.js" type="module") 

