#buttonUp,
#buttonMenu {
  right: 16px;
  width: @wbtnUpMenu;
  height: @wbtnUpMenu;
  .mixin-buttons-events();
}

#buttonUp {
  position: absolute;
  bottom: @hFooter + 4px;
  z-index: 99;
}

#buttonMenu {
  position: absolute;
  top: 12px;
  .mixin-display-flex(column, wrap, center, center, 4px, 0);
  background: @color-primary;
  border-radius: 50%;
  transform: rotate(0);
  transition: transform 0.4s ease;
  z-index: 97;

  &__up,
  &__center,
  &__down {
    background: @white;
    width: 70%;
    height: 3px;
  }
}

.btnRepositorie,
.btnLiveSite {
  flex: 1;
  width: 100%;
  border-radius: 16px;
  padding: 10px 20px;
  text-decoration: none;
  .mixin-display-flex(row, nowrap, center, center, 0, 6px);
  .mixin-buttons-events();
  .mixin-fonts(@white-grayish, @font-roboto, 500, @body-1);
}

.btnRepositorie {
  background: @color-primary;
}

.btnLiveSite {
  border: 2px solid @color-primary;
  color: @color-primary;
}

#buttonMenu.activeMenu {
  background: @white;
  outline: 2px solid @color-primary;
  transform: rotate(180deg);
  transition: transform 0.4s ease;

  #buttonMenu__up {
    display: none;
  }

  #buttonMenu__center,
  #buttonMenu__down {
    background: @color-primary;
  }

  #buttonMenu__center {
    transform: translate(0px, 3px) rotate(50deg);
    transition: transform 0.4s ease;
  }

  #buttonMenu__down {
    transform: translate(0px, -4px) rotate(-50deg);
    transition: transform 0.4s ease;
  }
}

@media @laptop {
  #buttonMenu {
    display: none;
  }

  #buttonUp {
    right: 32px;
    bottom: 64px;
  }
}
