body {
  position: relative;
}

#buttonUp, #buttonMenu {
  position: absolute;
  right: 16px;
  width: @wbtnUpMenu;
  height: @wbtnUpMenu;
  .mixin-buttons-events();
}

#buttonUp {
  bottom: @hFooter + @wbtnUpMenu + 48px;
  z-index: 99;
}

#buttonMenu {
  bottom: @hFooter + 24px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  background: @color-primary;
  border-radius: 50%;
  z-index: 98;

  &__up, &__center, &__down {
    background: @white;
    width: 70%;
    height: 3px;
  }
}
