.modalLoad {
  @wSpinner: 48px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  padding: 16px;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(0, 0, 0, 0.85);

  &__title {
    .mixin-fonts(@white, @font-firaCode, 700, @headline-2);
  }

  &__descp {
    .mixin-fonts(@white-grayish, @font-roboto, 600, @body-2);
    line-height: 1.6rem;
    text-align: center;
  }

  .spinner {
    width: @wSpinner;
    height: @wSpinner;
    border-radius: 50%;
    border: 2px solid @color-primary;
    border-top: 2px solid @white;
    animation: rotate 0.7s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

// laptop & desktop small & medium
@media @laptop, @desktop-s, @desktop-m, @desktop-b {
  .modalLoad {
    &__title {
      font-size: @headline-1;
    }

    &__descp {
      font-size: @headline-5;
    }
  }
}
